@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap');

body{
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

/* TOPBAR */
.topbar{
  background:#111;
  color:#fff;
  font-size:14px;
}

/* HERO */
.hero{
  background: linear-gradient(180deg, #fafafa, #c10b0b);
}

/* Mini cards */
.mini-card{
  background-color: lightblue;
  border:1px solid black;
  border-radius:14px;
  padding:12px;
  box-shadow: 21px 12px 20px rgb(17, 17, 16);
}

/* FOOTER */
.footer{
  background:#ed5454;
  color:#000000;
}

/* TARIFAS */
.tarifas-hero{
  background: linear-gradient(180deg, #fafafa, #c10b0b);
  border-bottom:1px solid #ff0000;
}
.precio{
  font-size:32px;
  font-weight:800;
}
.lista{
  padding-left:18px;
  margin:0;
}
.lista li{
  margin-bottom:6px;
}

/* Plan destacado */
.plan-top{
  border:2px solid #ff0000; 
  border-radius:14px;
}

.ft-inst{
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 12px;

}

#contacto{
  background: linear-gradient(120deg, grey, black);
  color: white;
}

.sombra_css{
  box-shadow: 21px 12px 20px red;
}

.flecha_css span{
  background-color: red;
  border-radius: 50%;
  padding: 18px;
}

/* Un poco mejor en móvil */
@media (max-width:768px){
  .topbar .container{
    flex-direction:column;
    gap:6px;
    align-items:flex-start;
  }
}